@import "@/assets/styles/local.css";

@font-face {
    font-family: 'TangutYinchuan';
    src: url('@/assets/fonts/TangutYinchuan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;